extends brakets
extends c

snippet tt "template" bA
#include <bits/stdc++.h>
using namespace std;

int main()
{
    cin.tie(NULL);
    ios::sync_with_stdio(false);
    $0

    return 0;
}
endsnippet

snippet memset "memset" bA
memset(${1:memo}, ${2:-1}, sizeof($1));
endsnippet

